In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/My Drive/melb_data.csv')
df.head()

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [ ]:
df.shape

(13580, 21)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [ ]:
# Get list of categorical variables
s = (df.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

Categorical variables:
['Suburb', 'Address', 'Type', 'Method', 'SellerG', 'Date', 'CouncilArea', 'Regionname']

In [ ]:
len(df.Address.unique()),len(df.Suburb.unique()),len(df.Type.unique()),len(df.Method.unique()),len(df.SellerG.unique()),len(df.CouncilArea.unique()),len(df.Regionname.unique())

(13378, 314, 3, 5, 268, 34, 8)

In [ ]:
features = df[['Type','Method','Regionname']]
features.head()

  Type Method             Regionname
0    h      S  Northern Metropolitan
1    h      S  Northern Metropolitan
2    h     SP  Northern Metropolitan
3    h     PI  Northern Metropolitan
4    h     VB  Northern Metropolitan

In [ ]:
features.Type.value_counts()

h    9449
u    3017
t    1114
Name: Type, dtype: int64

In [ ]:
features.Method.value_counts()

S     9022
SP    1703
PI    1564
VB    1199
SA      92
Name: Method, dtype: int64

In [ ]:
features.Regionname.value_counts()

Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: Regionname, dtype: int64

In [ ]:
mapping ={'h':1,
           'u':2,
           't':3
          }
features['type'] = features.Type.map(mapping)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
features.type.value_counts()

1    9449
2    3017
3    1114
Name: type, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df1 = features[['Regionname']]
df1['Region'] = le.fit_transform(features['Regionname'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
df1.value_counts()

Regionname                  Region
Southern Metropolitan       5         4695
Northern Metropolitan       2         3890
Western Metropolitan        6         2948
Eastern Metropolitan        0         1471
South-Eastern Metropolitan  4          450
Eastern Victoria            1           53
Northern Victoria           3           41
Western Victoria            7           32
dtype: int64

In [ ]:
#one-hot-encoding
df2 = pd.get_dummies(features['Method'])

In [ ]:
df2.value_counts()

PI  S  SA  SP  VB
0   1  0   0   0     9022
    0  0   1   0     1703
1   0  0   0   0     1564
0   0  0   0   1     1199
       1   0   0       92
dtype: int64

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()
features['Type_ord'] = pd.DataFrame(oe.fit_transform(features[['Type']]))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
features.Type_ord.value_counts()

0.0    9449
2.0    3017
1.0    1114
Name: Type_ord, dtype: int64

In [ ]:
features.head()

  Type Method             Regionname  type  Type_ord
0    h      S  Northern Metropolitan     1       0.0
1    h      S  Northern Metropolitan     1       0.0
2    h     SP  Northern Metropolitan     1       0.0
3    h     PI  Northern Metropolitan     1       0.0
4    h     VB  Northern Metropolitan     1       0.0

In [ ]:
from sklearn.preprocessing import LabelBinarizer

lb_style = LabelBinarizer()
lb_results = lb_style.fit_transform(features["Type"])
pd.DataFrame(lb_results, columns=lb_style.classes_).value_counts()

h  t  u
1  0  0    9449
0  0  1    3017
   1  0    1114
dtype: int64

In [ ]:
#Count Encoding
df_frequency_map = features.Type.value_counts().to_dict()
features.Type = features.Type.map(df_frequency_map)
features.Type.iloc[20:23]

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5165: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

20    9449
21    1114
22    3017
Name: Type, dtype: int64

In [ ]:
features.head()

   Type Method             Regionname  type  Type_ord
0  9449      S  Northern Metropolitan     1       0.0
1  9449      S  Northern Metropolitan     1       0.0
2  9449     SP  Northern Metropolitan     1       0.0
3  9449     PI  Northern Metropolitan     1       0.0
4  9449     VB  Northern Metropolitan     1       0.0