In [71]:
# Mounting drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [72]:
#Path to directory
import os
os.chdir('/content/drive/My Drive/AIM')

In [73]:
#Importing Train Dataset
import pandas as pd
import numpy as np
data = pd.read_csv("hiring.csv")
data.shape

(8, 4)

In [74]:
data.head()

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000

In [75]:
data['experience'].fillna(data['test_score'].median(), inplace=True)

data['test_score'].fillna(data['test_score'].mean(), inplace=True)

In [76]:
X = data.iloc[:, :-1]
y = data.iloc[:,-1]
X

  experience  test_score  interview_score
0          8    8.000000                9
1          8    8.000000                6
2       five    6.000000                7
3        two   10.000000               10
4      seven    9.000000                6
5      three    7.000000               10
6        ten    7.857143                7
7     eleven    7.000000                8

In [77]:
def convert(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0,8:8}
    return word_dict[word]

X['experience'] = X['experience'].apply(lambda x : convert(x))

In [78]:
from sklearn.linear_model import LinearRegression
import pickle
regressor = LinearRegression()

#Fitting model with trainig data
regressor.fit(X, y)

# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))